*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    background-color: #0d6efd;
    color: white;
    height: 7vh;
    align-items: center;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-main{
    padding: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-main hr{
    margin: 30px 0;
}
.container-main-table{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
}
.container-table{
    margin: 30px auto;
    border-collapse: collapse; 
    border: 3px solid black;
}
.container-table tr th{
    background-color: #0d6efd;
    padding: 10px;
    color: white;

}
.container-table tr,td{
    border-collapse: collapse;
    padding: 10px;
}

.target-main{
    text-align: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 30%;
    padding: 10px;
}

.target-main img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.maintarget{
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.botonH{
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}